* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(236, 80%, 8%);
  font-size: 18px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* .carousel-item {
 z-index: -1;
 position: relative;

} */

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.container {
  width: 100%;
  max-width: 700px;
  margin-top: 50px;
  margin-right: 230px;
}

.header {
    display: flex;
    align-items: center;
  }

 .theme {
   margin-left: 170px;
 }
 
  .theme img {
    border-style: solid;
    border-color: rgb(232, 232, 240);
    border-radius: 50%;
    padding: 3px;
  }

.title {
  color: rgb(180, 30, 155);
  margin-left: 180px;
  margin-top: 15px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

	-webkit-text-fill-color: rgb(16, 8, 134);
}

.new-todo {
  background-color: hsl(235, 67%, 17%);
  height: 70px;
  width: 615px;
  margin: 50px;
  margin-top: 7px;
  margin-left: 30px;
  border-radius: 6px;
  display: flex;
  border-color: rgb(226, 187, 226);
  border-style: ridge;

}

.btn {
  position: relative;
  border-style: ridge;
  border-color: hsl(234, 39%, 85%);
  border-width: 3px;
  right: -480px;
  top: -23px;
  color: #771a0a;
  width: 80px;
  height: 45px;
  background-color: rgb(11, 9, 99);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 10%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  
  
}

.btn:hover {
  color: rgb(11, 8, 212);
  font-weight: bold;
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn:focus {
  outline: none;
}
.check {
  width: 70px;
  /* height: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%); */

}

.check-mark {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);


}

/* .check-mark img {
  visibility: hidden;
} */

.check-mark:hover {
  background: linear-gradient(#e92b2b, #0c1ddf);
  
}

.check-mark.checked {
  background: linear-gradient(#f2f561, #045726);
  
}

.binmark {
  margin: 10px;
  position: relative;
  margin-top:-50px;
  
}
.binmarkcont.checked {
  opacity: 0.6;
}
.binmarkcont.checked:hover {
  background: red;
  transition: all 0.8s ease-in-out;
}

.check-mark:hover, .check-mark.checked img {
  visibility: visible;
}

.todo-text.checked {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}
.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  
  
}

.new-todo-input form {
  flex-grow: 1;
}

.new-todo-input input {
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: 18px;
}

.new-todo-input input::placeholder {
  color: hsl(233, 14%, 35%);
}

.todo-item {
  width: 100%;
  display: flex;
  height: 70px;
  background-color: hsl(240, 34%, 18%);
  border-style: ridge;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  color: hsl(234, 39%, 85%);
  font-size: 18px;
  transition: all 0.25s ease;
  display: flex;
  cursor: pointer;

}

.todo-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
  border-color: hsl(235, 24%, 19%);
  
}

.todo-text {
  display: flex;
  align-items: center;
}

.todo-items-wrapper {
  margin: 30px ;
  background-color: hsl(235, 76%, 28%);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
  margin-bottom: 30px;
}

.todo-items-info {
  height: 70px;
  width: 100%;
  color: hsl(234, 19%, 89%);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  border-style: ridge;

}

.items-statuses {
  display: flex;
  justify-content: center;
  background: var(#5052da);
}

.items-statuses span {
  padding: 0 5px;
  cursor: pointer;
  text-decoration: underline;
  
}


/* .items-statuses span:hover, .items-statuses span.active, .items-clear {
  /* color: hsl(220, 98%, 61%); 

} */

.items-statuses span, .items-statuses span.active, .items-clear {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, rgb(205, 238, 19), rgb(185, 16, 16) 50%, rgb(196, 198, 223) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  margin-left: 0.2cm;
  margin-right: 0.2cm;
  
}

.items-statuses span:hover, .items-statuses span.active:hover, .items-clear:hover {
  background-position: 0 100%;
}

.items-clear {
  cursor: pointer;
  text-align: end;
}



.binmarkcont.nothing {
  display: none;
}

.binmarkcont.checked {
  display: block;
}


img.binmark {
  position : absolute;
  margin-left: 560px;
  margin-top: -60px;
  
}

form {
  width: 75vmin;
  height: 100%;
  padding: 40px 0;
}

input[type="text"] {
  width: 608px;
  height: 60px;
  margin-top: -29px;
  margin-left: -29px;
  position: absolute;
  padding: 15px 10px;
  border: none;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: #150a44;
  font-size: 16px;
  
  
}
ul {
  list-style: none;
}
.list {
  width: 616px;
  background-color: #9c9ead;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  margin-left: -33px;
  margin-top: 30px;
}
.list-items {
  padding: 10px 0px;
  color: #150a44;
  top: 200px ;
  
  
  
  
}
.list-items:hover {
  color:rgb(184, 36, 117);
  font-weight: bold;
}


